@import "tailwindcss";

:root {
	--color-bg: #f7f6f2;
	--color-surface: #ffffff;

	--color-primary: #063154;
	--color-accent: #025f67;
	--color-secondary: #2f9d94;
	--color-muted: #bcc5cc;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	font: 18px / 145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--color-bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}
